<a href="https://colab.research.google.com/github/sai-del-cielo/colab_workflow/blob/main/colab_git_workflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import os
drive.mount('/content/GDrive')

import pandas as pd

Mounted at /content/GDrive

In [ ]:
test_variable = "testing"
!rm -r /content/colab_workflow
!git clone https://github.com/sai-del-cielo/colab_workflow.git

# Testing on VS code via direct download from Google Drive lol

# Can I push to Github from Colab?

Cloning into 'colab_workflow'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 3 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [ ]:
!cd /content/GDrive/MyDrive
!git clone https://github.com/sai-del-cielo/data_engineering_data_validation.git

Cloning into 'data_engineering_data_validation'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 11 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (11/11), done.

In [35]:


# data = "/content/data_engineering_data_validation/Crash data.csv"
data = "/content/GDrive/MyDrive/drive Crash data.csv"

df = pd.read_csv(data)

df.describe()

,Unnamed: 0,Crash ID,Record Type,Serial #,Crash Month,Crash Day,Crash Year,Week Day Code,Crash Hour,County Code,...,Total Pedestrian Count,Total Pedestrian Fatality Count,Total Pedestrian Non-Fatal Injury Count,Total Pedalcyclist Count,Total Pedalcyclist Fatality Count,Total Pedalcyclist Non-Fatal Injury Count,Total Unknown Non-Motorist Count,Total Unknown Non-Motorist Fatality Count,Total Unknown Non-Motorist Injury Count,Total Vehicle Occupant Count
count,508.000000,5.080000e+02,508.0,508.000000,508.000000,508.000000,508.0,508.000000,508.000000,508.000000,...,508.0,508.000000,508.0,508.0,508.0,508.000000,508.000000,508.000000,508.000000,508.000000
mean,1368.942913,1.845724e+06,1.0,5459.167323,6.011811,15.775591,2019.0,4.145669,14.153543,19.429134,...,0.0,0.007874,0.0,0.0,0.0,2.683071,2.730315,1.893701,0.055118,0.742126
std,810.869251,9.218482e+03,0.0,10171.318598,3.556234,8.401937,0.0,1.991709,9.131304,10.030766,...,0.0,0.088473,0.0,0.0,0.0,1.312942,1.282605,1.506239,0.403282,0.853371
min,0.000000,1.809119e+06,1.0,3.000000,1.000000,1.000000,2019.0,1.000000,0.000000,3.000000,...,0.0,0.000000,0.0,0.0,0.0,1.000000,1.000000,0.000000,0.000000,0.000000
25%,649.750000,1.840652e+06,1.0,1504.750000,3.000000,8.000000,2019.0,2.000000,10.000000,3.000000,...,0.0,0.000000,0.0,0.0,0.0,2.000000,2.000000,1.000000,0.000000,0.000000
50%,1361.500000,1.847382e+06,1.0,3280.500000,6.000000,16.000000,2019.0,4.000000,14.000000,26.000000,...,0.0,0.000000,0.0,0.0,0.0,2.000000,2.000000,2.000000,0.000000,1.000000
75%,2079.250000,1.852390e+06,1.0,7332.500000,9.000000,23.000000,2019.0,6.000000,17.000000,26.000000,...,0.0,0.000000,0.0,0.0,0.0,3.000000,3.000000,3.000000,0.000000,1.000000
max,2734.000000,1.860771e+06,1.0,99992.000000,12.000000,31.000000,2019.0,7.000000,99.000000,26.000000,...,0.0,1.000000,0.0,0.0,0.0,9.000000,9.000000,9.000000,7.000000,5.000000

In [ ]:
!pwd
!python /content/colab_workflow/colab_integration.ipynb

/content
Traceback (most recent call last):
  File "/content/colab_workflow/colab_integration.ipynb", line 5, in <module>
    "execution_count": null,
NameError: name 'null' is not defined

In [ ]:
try:
  import google.colab
  IN_COLAB = True
  "This notebook is running in Google Colab"
  !python /content/data_engineering_data_validation/test.py
except:
  IN_COLAB = False

hello world!
        Unnamed: 0  ...  Total Vehicle Occupant Count
count   508.000000  ...                    508.000000
mean   1368.942913  ...                      0.742126
std     810.869251  ...                      0.853371
min       0.000000  ...                      0.000000
25%     649.750000  ...                      0.000000
50%    1361.500000  ...                      1.000000
75%    2079.250000  ...                      1.000000
max    2734.000000  ...                      5.000000

[8 rows x 87 columns]

In [ ]:
# !cd /content/GDrive/MyDrive/Plants_Images

In [ ]:
# !cd /content/GDrive/MyDrive/atari_reinforcement_learning/src

In [ ]:
# !ls

GDrive	sample_data